

.navbar-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aquamarine;
    margin:0;
    padding: 0;

}
img {
    width:100%;
    max-width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
}

.splash-div{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    text-align: center;
    font-size: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product-laydiv {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 2 100px;
    margin: 0 auto;



}
.product {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    width: 40rem;
    height: 20rem;
    border-radius: 10px;
}

.total-div {
    display: flex;
    width: 40rem;
    flex-direction: row; 
    justify-content: center;
    gap: 1rem;   
    align-items: center;
}

.price {
    font-size: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}